extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form.form-registration(action="." method="POST")
    label(for="name") Name:
    input.form-control(type="text" id="name" name="name" value=data.name)

    label(for="email") Email:
    input.form-control(type="email" id="email" name="email" value=data.email)

    input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Submit")